.headers {
  display: flex;
}
.header-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  border: 1px solid black;
}
.symbol {
  display: flex;
  justify-content: center;
  align-items: center;
}
.base-coin {
  font-size: 20px;
  padding: 0 3px;
}
.quote-coin {
  font-size: 10px;
}
.ratio {
  display: flex;
  justify-content: center;
  align-items: center;
}