.nav {
  height: 75px;
  background-color: #222;
  color: white; 
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav .title {
  font-size: 30px;
  margin: 15px;
}
.kucoin-link {
  padding: 5px;
  background-color: white;
}